#status_bar {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

#sql_gui {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Monospace;
}

#sql_form {
    float: left;
    width: 45%;
}

#sql_input {
    font-family: Monospace;
    width: 60%;
    float: left;
}

#submit_button {
    width: 20%;
    float: right;
}

table {
    float: right;
    width: 45%;
    border: 1px solid gray;
}

th, td {
    border: 1px solid gray;
}