body {
    background-color: #303030;
}

button {
    background-color: #A0A0AF;
    width: 130px;
}

a:link {
    color:white;
}

a:visited {
    color: white;
}

#main_area {
    background-color: #373737;
    color: #CFD0D0;
    margin-top: 1%;
    margin-right: 20%;
    margin-left: 20%;
    padding: 10px;
}

#header_block {
    padding: 10px;
    background-color: #505050;
    text-align: center;
    font-family: Monospace;
}

#header_block_title {
    font-size: 20px;
    letter-spacing: 8px;
}

#examples_nav_block {
    margin-top: 10px;
    padding: 10px;
    background-color: #454545;
    text-align: center;
    font-family: Monospace;
}

#examples_body_block {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 10px;
    background-color: #454545;
    font-family: Monospace;
}

#status_block {
    margin-top: 10px;
    padding: 10px;
    background-color: #454545;
    font-family: Monospace;
}

#sql_block {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 10px;
    background-color: #454545;
    font-family: Monospace;
}

#sql_block_editor {
    flex-grow: 0;
    align-self: flex-start;
    width: 50%;
    margin-right: 15px;
}

#sql_block_editor_input {
    background-color: #3A3A3A;
    color: #CFD0D0;
    width: 100%;
    resize: vertical;
}

table {
    flex-grow: 1;
    align-self: flex-start;
    background-color: #3A3A3A;
    border: 1px solid gray;
}

th, td {
    border: 1px solid gray;
}

#examples_body_block_sql {
    color: #CFD0D0;
    flex-grow: 0;
    align-self: flex-start;
    background-color: #3A3A3A;
    width: 50%;
    resize: none;
    margin-right: 15px;
}

#examples_body_block_descr {
    flex-grow: 0;
    align-self: flex-start;
    color: #CFD0D0;
}