body {
    background-color: #303030;
    font-family: Monospace;
    color: #CFD0D0;
}

#header {
    text-align: center;
    margin-top: 3%;
}

a:link {
    color:white;
}

a:visited {
    color: white;
}

#examples {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

button {
    background-color: #A0A0AF;
    width: 130px;
}

#status_bar {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

#sql_gui {
    margin-left: 10%;
    margin-right: 10%;
}

#sql_form {
    float: left;
    width: 48%;
}

#sql_input {
    background-color: #3A3A3F;
    color: #CFD0D0;
    width: 75%;
    float: left;
    resize: vertical
}

#submit_button {
    float: right;
}

table {
    background-color: #3A3A3F;
    float: right;
    width: 48%;
    border: 1px solid gray;
}

th, td {
    border: 1px solid gray;
}