{% extends 'base.html' %}
{% block examples_nav %}
<div id="examples_nav_block">
    <p>Look at examples</p>
    <button onclick="window.location.href='{{ url_for('example', num=1) }}'">Go to examples</button>
</div>
{% endblock %}
{% block data %}
<div id="status_block">
    <p>Database UP</p>
    <p>Database tables: {{ ', '.join(tables) }}</p>
    <form method="post">
        <button name="DB_COMMAND" type="submit" value="DELETE">Delete database</button>
    </form>
</div>
<div id="sql_block">
    <div id="sql_block_editor">
        <form id="editor" method="post">
            <textarea id="sql_block_editor_input" rows="{{ query_lines_num }}" name="SQL">{{ query }}</textarea>
        </form>
        <button form="editor" type="submit">Submit query</button>
    </div>
    {% block data_table %} {% endblock %}
</div>
{% endblock %}