<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section id="main_area">
        <div id="header_block">
            <h1 id="header_block_title">SQL EXERCISES</h1>
            <p>by Danz The Deadly</p>
            <a href="https://github.com/DanzTheDeadly/SQL_trainer" target="_blank">Github</a>
        </div>
        {% block examples_nav %} {% endblock %}
        {% block data %} {% endblock %}
    </section>
</body>
</html>