<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <article id="header">
        <h1>SQL exercises</h1>
        <p>by Danz The Deadly</p>
        <a href="https://github.com/DanzTheDeadly/SQL_trainer" target="_blank">Github</a>
    </article>
    <article id="examples">
        <h1>Look at examples</h1>
        {% block example_buttons %} {% endblock %}
    </article>
    {% block body %} {% endblock %}
</body>
</html>