{% extends 'base.html' %}
{% block example_buttons %}
    <button onclick="window.location.href='{{ url_for('example', num=1) }}'">Go to examples</button>
{% endblock %}
{% block body %}
    <article id="status_bar">
        <p>Database UP</p>
        <p>Database tables: {{ ', '.join(tables) }}</p>
        <form method="post">
            <button id="signal_button" name="DB_COMMAND" type="submit" value="DELETE">Delete database</button>
        </form>
    </article>
    <br>
    <article id="sql_gui">
        <form id="sql_form" method="post">
            <textarea id="sql_input" rows="15" name="SQL">{{ query }}</textarea>
            <button id="submit_button" type="submit">Submit query</button>
        </form>
        <table>
            <tr>
                {% for cell in header %}
                    <th>{{ cell }}</th>
                {% endfor %}
            </tr>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}