{% extends 'base.html' %}
{% block examples_nav %}
<div id="examples_nav_block">
    <p>Navigate examples</p>
    {% if num > 1 %}
        <button onclick="window.location.href='{{ url_for('example', num=num-1) }}'"><< Previous</button>
    {% else %}
        <button onclick="window.location.href='{{ url_for('example', num=num-1) }}'" disabled="true"><< Previous</button>
    {% endif %}
    <button onclick="window.location.href='{{ url_for('index') }}'">Back</button>
    <button onclick="window.location.href='{{ url_for('example', num=num+1) }}'">Next >></button>
</div>
<div id="examples_body_block">
    <textarea readonly id="examples_body_block_sql" rows="{{ query_lines_num }}">{{ query }}</textarea>
    <div id="examples_body_block_descr">{{ descr }}</div>
</div>
{% endblock %}